* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	color: white;
}

#container {
	width: 100%;
	height: 100%;
}

#header {
	float: left;
	color: white;
	height: 50%;
	width: 100%;
	padding-bottom: 30%;
	background-color: #769381;
}

#navigationbar {
	box-shadow: 0px 11px 10px grey;
	clear: both;
	width: 100%;
	background-color: #769381;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	padding: 10px;
	position: sticky;
	top: 0;
}

#content {
	
	background-color: white;
	width: 100%;
	height: auto;
	color: black;

}

#about {
	
	color: white;
	float: right;
	width: 20%;
	height: 10%;
	text-align: center;
}

#webdesign {
	
	color: white;
	float: right;
	width: 20%;
	height: 10%;
	text-align: center;
}

#darkmode {
	
	color: white;
	float: right;
	width: 20%;
	height: 10%;
	text-align: center;
}

#photos {
	
	color: white;
	float: right;
	width: 20%;
	height: 10%;
	text-align: center;
}

#home {
	
	float: right;
	width: 20%;
	height: 10%;
	text-align: center;
}


a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightgrey;
}

div.clear {
	clear: right;
}

#photos1 {
	background-color: white;
	width: 100%;
	height: auto;
	color: black;
}

h1, h2{
	font-family: "Lato", sans-serif;
}

h1.title {
	font-size: 300%;
	padding: 5% 0% 0% 5%;
	padding-bottom: 0%;
	margin: 0%;
}

h2.titledown {
	font-size: 100%;
	padding: 0% 0% 0% 5%;
	margin: 0%;
}


div.right {
	float: right;
	padding: 10%;


}

p {
	color: black;
	text-align: right;
	padding: 0% 5% 0% 0%;
	font-size: 300%;
}

div.photoleft {
	text-align: left;
	width: 100%;
	height: auto;
	padding: 10%;
	padding-bottom: 5%;
}

p.description {
	color: black;
	text-align: left;
	font-size: 100%;
	padding: 0%;
}

div.photoright {
	text-align: right;
	width: 100%;
	height: auto;
	padding: 10%;
	padding-bottom: 5%;
}

p.description1 {
	color: black;
	text-align: right;
	font-size: 100%;
	padding: 0%;
}

#footer {
	color: white;
	height: 50%;
	width: 100%;
	padding-bottom: 30%;
	background-color: #769381;
	overflow: hidden;
}

div.info {
	width: 33.3%;
	height: 40%;
	float: left;
	padding: 5%;
}



@media (max-width: 499px) {
	#darkmode, #about, #webdesign {
		display: none;	
	}

	#home, #photos {
		width: 33.3%;
	}

	#dropdown {
		width: 33.3%;
		display: block;
		float: right;
	}

}


@media (min-width: 500px) {
	#dropdown {
		display: none;
	}


}

.dropbtn {
	border: none;
	color: white;
	background-color: #769381;
	cursor: pointer;
	padding: 1% 0% 1% 0%;
	width: 33.3%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 33%;
}

.dropdown-content a {
  color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}